.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 918px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
  }
}